@import "mixins";
@import "variables";
@import "vendor-prefixes";

@infoColor: #509fff;
@messageBg:fade(@infoColor,10%);
@successMessageBg:fade(@infoColor,10%);

.donate-success{
	margin-top: @pd*4;
	padding: @pd*2;
}
.message-page{
	.logo{
		img{
			max-width: 300px;
		}
	}
}

.success-message{
	min-height: 300px;
}


.message-page{
	.logo{
		margin-top: @pd;
		margin-bottom: @pd;
	}
}