@import "mixins";
@import "variables";
@import "vendor-prefixes";


.unicef-logo-white,.unicef-logo-blue{
	width: 350px;
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
}
.unicef-logo-blue{
	background-image: url("/img/unicef-blue.png");

}


.twitter-logo{
	display: inline-block;
	background-image: url("/img/twitter_logo_blue.png");
	width: 36px;
	height: 29px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;

	&.small{
		width: 25px;
		height: 15px;
	}
	&.white{
		background-image: url("/img/twitter_logo_white.png");
	}
}

.facebook-logo{
	display: inline-block;
	background-image: url("/img/facebook-logo.png");
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.paypal-white{
	background-image: url("/img/email_papal_logo_white.png");
	width: 95px;
	height: 20px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.unicef-logo-white{
	background-image: url("/img/unicef.png");
}

.unicef-logo-mini{
	width: 125px;
	height: 30px;
}

.logo-worddebt-blue,.logo-worddebt-white{
	width:  388px;
	height: 354px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.logo-worddebt-blue{
	background-image: url("/img/logo_WD_blue.png");

}

.logo-wd-footer{
	background-image: url("/img/logo_worddebt_footer.png");
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}

.logo-worddebt-white{
	background-image: url("/img/logo_WD_white.png");
}


.bg-step{

	background-repeat:no-repeat;
	background-size:contain;
	background-position-x: center;
	//background-position: center center;
	@media(max-width: @screen-xl){
		width: 220px;
		height: 400px;
	}

	@media(min-width: @screen-xl){
		width: 250px;
		height: 500px;
	}
}

.icon-play{
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image: url("/img/play-icon.png");
	display:inline-block;
	position: relative;
	margin-left:@pd/2;
	top: 3px;
}


.bg-step-1{
	background-image: url("/img/phone_1.png");
}

.bg-step-2{
	background-image: url("/img/phone_2.png");
}

.bg-step-3{
	background-image: url("/img/phone_3.png");
}

.bg-step-4{
	background-image: url("/img/phone_4.png");
}


.step-title{
	background-image: url("/img/plashka1.png");
	background-size: contain;
	background-repeat:no-repeat;
}

.step-title-arrow{
	background-image: url("/img/strelka.png");
	width: 215px;
	height: 43px;
	background-repeat:no-repeat;
}


.map-bg{
	background-image: url("/img/big_map.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.bg-wordcloud{
	background-image: url("/img/plashka_big.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.stat-circle{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.book-bg{
	background-image: url("/img/book.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.smileofachild{
	width:65px;
	height:65px;
	.transition(all 0.8s ease);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.healworld{
	.transition(all 0.8s ease);
	height:65px;
	width: 216px;
	max-width:100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/img/healworld.png");
}

.smileofachild{
	background-image: url("/img/logo_smile_grey_mini.png");
	&:hover{
		background-image: url("/img/logo_smile_mini.png");
	}
}
.healworld-color{
	background-image: url("/img/healworld_color.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.smileofachild-color{
	background-image: url("/img/logo_smile_mini.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.partner-logo{
	&:hover{
		.healworld{
			background-image: url("/img/healworld_color.png");
		}
		.smileofachild{
			background-image: url("/img/logo_smile_mini.png");
		}
	}
}

.bg-preloader{
	width:0px;
	height:0px;
	opacity:0;
	position:absolute;
}