@import "variables";
@import "mixins";

html,body{
	overflow:auto;
	overflow:initial;
	width: 100%;
}

body{
	min-height: 100vh;
}


.fullsize{
	.fullsize()
}

.fullwidth{
	width:100%;
}


//CONTAINER
.container {
	@media (min-width: @screen-sm-min) {
		width: @container-sm;
	}
	@media (min-width: @screen-md-min) {
		width: @container-md;
	}
	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}

	@media (min-width: @screen-xl) {
		width: @container-xl;
	}
	&:extend(.clearfix all);
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;

	&.narrow{
		max-width: 50%;

		@media (min-width: @screen-xl) {
			max-width:30% !important;
		}

		@media (max-width: @screen-sm) {
			max-width: 80% !important;
		}
	}




}


.footer{
	background-color: @blue;
	height: @stickyMenuHeight;
}





//Padding classes
.content-padding{
	padding: @pd;
}

.content-padding-sm{
	padding: @pd /2;
}

//Padding classes
.padding-lr{
	padding-left: @pd;
	padding-right: @pd;
}

.padding-lr-sm{
	padding-left: @pd /2;
	padding-right: @pd /2;
}

.padding-l{
	padding-left: @pd;
}
.padding-l-sm{
	padding-left: @pd / 2;
}
.padding-r{
	padding-right: @pd;
}
.padding-r-sm{
	padding-right: @pd / 2;
}
.padding-tb-sm{
	padding-top: @pd / 2;
	padding-bottom: @pd / 2;
}

.padding-b{
	padding-bottom: @pd;
}
.padding-b-sm{
	padding-bottom: @pd/2;
}

.margin-r{
	margin-right: @pd;
}
.margin-r-sm{
	margin-right: @pd / 2;
}
.margin-r-xs{
	margin-right: @pd / 4;
}
.margin-l-xs{
	margin-left: @pd / 4;
}
.margin-l{
	margin-left: @pd;
}
.margin-l-sm{
	margin-left: @pd / 2;
}

.margin-t{
	margin-top: @pd  !important;
}
.margin-t-sm{
	margin-top: @pd / 2  !important;
}
.margin-b,.margin-bottom{
	margin-bottom: @pd  !important;
}

.margin-b-sm{
	margin-bottom: @pd / 2 !important;
}
.margin-tb-sm{
	margin-top: @pd / 2  !important;
	margin-bottom: @pd / 2  !important;
}

.overflow-scroll-y {
	overflow-y: auto;
	overflow-x: hidden;
	//flex-basis: 1em;
}

.overflow-hidden{
	overflow: hidden !important;
}
.full-width{
	width: 100%;
}


.hidden{
	display: none;
}