@import "variables";
@import "mixins";

.worddebt{
	.md-button,a.md-button{
		i,.fa{
			margin-right: @pd/4;
		}
		padding: @pd/4 @pd/2;

		&.md-primary,&.md-primary.md-raised,&.md-primary{
			background-color: white;
			color:@blue;
			&:hover{
				background-color: @blue !important;
				color:white !important;
			}
		}

		&.btn-white{
			background-color: transparent;
			border:2px solid white;
			border-radius: 0px;
			&.big{
				padding: 10px 20px;
				font-size: 20px;
			}
		}
	}

	md-tooltip{
		font-size: 14px;
	}

	md-progress-linear{
		.md-bar{
			height: 3px;
		}
		.md-container{
            height: 3px;
		}
	}

	.md-dialog-container{
		background-color:fade(@text-color,70%);
	}


}