@import "variables";
.fullsize(){
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	height: auto;
	width: auto;
}

.grayscale(){
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);  /* For Webkit browsers */
	filter: gray;
	

}


.flip(){
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.normalcolor(){
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: none;
}
.disable-selection(){
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}


.text-ellipsis(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.circle(@size:10px,@bg:@gray-light){
	width: @size;
	min-width: @size;
	height: @size;
	min-height: @size;
	background-color: @bg;
	border-radius: 50%;
	overflow: hidden;
}


.do-flex-c-c(){
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-sizing: border-box;
}

.circle-line(@size:20px,@linecolor:@gray-light){
	width: @size;
	height: @size;
	border-color:@linecolor;
	border-radius: 50%;
	border-style:solid;
	overflow: hidden;
	.do-flex-c-c();
}




//IMAGE RESPONSIVE
.img-responsive(@display: block) {
	display: @display;
	width: 100%;
	max-width: 100% !important; // Part 1: Set a maximum relative to the parent
	height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}




//Transform
.transcale(@x:40%,@y:0,@z:0, @xs : 0.85,@ys:0.85,@zs:1){
	-webkit-transform: translate3d(@x, @y, @z) scale3d(@xs, @ys, @zs);
	-moz-transform: translate3d(@x, @y, @z) scale3d(@xs, @ys, @zs);
	-ms-transform: translate3d(@x, @y, @z) scale3d(@xs, @ys, @zs);
	-o-transform: translate3d(@x, @y, @z) scale3d(@xs, @ys, @zs);
	transform: translate3d(@x, @y, @z) scale3d(@xs, @ys, @zs);
}


.layout-c-c(){
	flex-direction: column;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 100%;

	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.animateOnOff(@animationOn:fadeIn,@animationOff:fadeOut,@transitionTiming:0.3s linear){
	&.ng-enter,&.ng-hide-remove{
		.animation(@animationOn @transitionTiming);
	}

	&.ng-leave,&.ng-hide-add{
		.animation(@animationOff @transitionTiming);
	}
}

.clip4(@p1,@p2,@p3,@p4){
	-webkit-clip-path: polygon(@p1, @p2, @p3, @p4);
	clip-path: polygon(@p1, @p2, @p3, @p4);
}
