@import "variables";
@import "mixins";


.worddebt ::-webkit-scrollbar-track
{
	background-color: @scrollbar-track-color;
	opacity: 0.1;
}

.worddebt ::-webkit-scrollbar
{
	width: @scrollbarWidth;
}

.worddebt ::-webkit-scrollbar-thumb
{
	background-color: @scrollbar-thumb-color;
	opacity: .2;
	border-radius: 2px;
	z-index:1000;
}
