@import "variables";
body,html,input,textarea{
	font-family: @font-family;
	color:@text-color;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.content-heading{
	font-size: 30px;
	margin-bottom: @pd;
}



//SKEW BUTTONS


@transition:all 0.5s ease-in-out;
.skewed-btn,a.skewed-btn{
	position: relative;
	white-space: nowrap;
	overflow: visible;
	outline: none !important;
	margin-left: @skewWidth;
	display: inline-block;
	background: @blue;
	border-radius: 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding: 10px 10px;
	color:white;
	box-sizing: border-box;
	cursor: pointer;
	.transition(@transition);
	border:0px;
	&:before {
		.transition(@transition);
		content: "";
		position: absolute;
		display: block;
		background: @blue;

		height: 100%;

		-webkit-transform-origin: bottom left;
		-moz-transform-origin: bottom left;
		transform-origin: bottom left;
		right: 100%;
		-webkit-transform: skewX(-@skewAngle);
		-moz-transform: skewX(-@skewAngle);
		transform: skewX(-@skewAngle);
		border-left: none;
		width: @skewWidth;
		top:0px;
	}

	&.skew-r{
		&:before {
			display: none;
		}

		&:after {
			.transition(@transition);
			content: "";
			position: absolute;
			display: block;
			background: @blue;

			height: 100%;

			-webkit-transform-origin: bottom left;
			-moz-transform-origin: bottom left;
			transform-origin: bottom left;
			left: auto;
			right: 0;
			-webkit-transform: skewX(-@skewAngle);
			-moz-transform: skewX(-@skewAngle);
			transform: skewX(-@skewAngle);
			border-left: none;
			width: @skewWidth;
			top:0px;
		}
	}


	&:hover,&:hover:before,&:hover:after{
		background: lighten(@blue,10%) !important;
	}

	&[disabled]{
		opacity: 0.5;
		cursor:help;
	}


	&.white{
		color:@blue !important;
		background:white !important;

		&:before {
			background: white;
		}
		&:hover,&:hover:before{
			background: lighten(@blue,50%)  !important;
		}
	}


	&.bg-facebook{
		background-color: @facebookBlue;
		&:before {
			background-color: @facebookBlue;
		}
		&:hover,
		&:hover:before,
		&:hover:after{
			background-color: lighten(@facebookBlue,10%)  !important;
		}
	}
	&.black{
		color:white !important;
		background: @text-color;

		&:before,&:after {
			background: @text-color;
		}

		&:hover,&:hover:before,&:hover:after{
			background: lighten(@text-color,20%);
		}

		&.active{
			&:before,&:after {
				background: @blue;
			}
			background-color: @blue !important;
			&:hover,&:hover:before,&:hover:after{
				background: lighten(@blue,20%)  !important;
			}
		}
	}

	&.warning{
		color:white !important;
		background:@red !important;

		&:before {
			background: @red;
		}
		&:hover,&:hover:before{
			background: lighten(@red,50%)  !important;
		}
	}

	.facebook-logo,.twitter-logo{

	}
	.twitter-logo{
		margin-left: @pd/4;
		position: relative;
		top: 2px;
	}

	> *{
		vertical-align: middle;
	}

	.facebook-logo{
		margin-left: @pd/4;
	}


	i{
		margin-right: 5px;
	}
}

.split-btn{
	.skewed-btn,a.skewed-btn{
		&:first-child{
			&:after {
				.transition(@transition);
				content: "";
				position: absolute;
				display: block;
				background: @blue;
				height: 100%;
				-webkit-transform-origin: bottom left;
				-moz-transform-origin: bottom left;
				transform-origin: bottom left;
				left: auto;
				right: 0;
				-webkit-transform: skewX(-@skewAngle);
				-moz-transform: skewX(-@skewAngle);
				transform: skewX(-@skewAngle);
				border-left: none;
				width: @skewWidth;
				top:0px;
			}
		}
	}
}

@media (max-width: @screen-sm) {
	.skewed-btn,a.skewed-btn{
		font-size: @font-base - 2;
		padding: 8px;
		.twitter-logo.small{
			height: 11px;
		}
		.facebook-logo{
			height: 12px;
		}
	}
}

@media (max-width: @screen-xs) {
	.skewed-btn,a.skewed-btn{
		font-size: 11px;
		.facebook-logo,.twitter-logo{
			width:14px;
			margin-left:2px;
		}
	}
}
.italic{
	font-style: italic;
}


.play-triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #ffffff;
}