@import "variables";
@import "mixins";

.bg-cropped{
	-webkit-backface-visibility: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.avatar{
	width:@avatarSize;
	height:@avatarSize;
	border-radius: 50%;
	overflow: hidden;
}

img.responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.relative{
	position:relative;
}

input.form-input{
	width: 100%;
	box-sizing: border-box;
	background-color: transparent;
	padding: 5px 2px;
	border:1px solid @gray;
	outline: none !important;
	&.noborder{
		border: none;
	}
}


@trWidth:160px;
.page-top-triangle{
	position: absolute;
	top:0px;
	bottom: 30%;
	width: @trWidth;
	transition: all 1s ease-in-out;
	.inner{
		background-color: @blue;
		position: absolute;
		top:0px;
		bottom: 0;
		width: 100%;
		left: -(@trWidth - 20);
		border-right:3px solid @gray-light;
		.skew(-9deg,0);
	}

	.animation(slideInLeft 1s ease-in-out);


}




//COOL RESPONSIVE STYLES FOR EMBEDED VIDEO

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}