@pd:20px;
@font-family:'Roboto', sans-serif !important;

//COLORS
@text-color: #231f20;
@gray-light: #ececec;
@gray: #bababa;
@gray-dark: darken(@gray,20%);
@blue: #16A9E1;
@blueLighter: #16bbf3;

@facebookBlue:#3b5998;
@red: #cc0000;

@yellow: #fdf001;
@avatarSize:40px;
@avatarSizeBig:60px;

@scrollbar-track-color:white;
@scrollbar-thumb-color:@gray;
@scrollbarWidth:10px;


@baseZ:20;


@font-base:14px;

@font-size-superhuge:150px;
@font-size-huge:100px;
@font-size-large:70px;
@font-size-h1:40px;
@font-size-h2:30px;
@font-size-h3:26px;
@font-size-h4:22px;
@font-size-h5:20px;
@font-size-h6:18px;

@font-size-small:14px;
@font-size-smaller:12px;

//STICKY MENU
@stickyMenuHeight:50px;
@stickyMenuZindex:@baseZ+10;



//SKew btns
@skewAngle:9deg;
@skewWidth:7px;


//BOX SHADOW
@box-shadow-item: 2px 4px 10px 0 rgba(0, 0, 0, 0.25);


@box-border-radius:3px;

//SCREENSIZES (AS IN BOOTSTRAP)
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               599px;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

@screen-xl: 1600px;

	// Small screen / tablet
@container-tablet:             (720px);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


@container-xl: (1400px);