@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/vendor-prefixes";

.donate-page{

	.subsection{
		margin-bottom: @pd;
	}
	.container{
		padding-top:@pd;
	}

	.tip{
		font-size: @font-size-smaller;
		color:fade(@blue,80%);
		margin-bottom: @pd;
	}
	.divider{
		width: 100%;
		border-bottom:1px solid fade(@blue,20%);
		margin-top: @pd;
		margin-bottom: @pd;
		height: 1px;
	}

	.form-input{
		max-width: 100px;
		border-width: 0;
		border-bottom-width: 1px;
		border-color: @blue;
		font-size: @font-size-h4;
	}

	.form-group{
		margin-bottom: @pd;
	}
	.currency{
		margin-left: @pd/4;
		color:@blue;
		font-size: @font-size-h3;
	}
	.logo{
		max-width: 300px;

		margin-bottom: @pd;
		margin-left: auto;
		margin-right: auto;
		@media (max-width: @screen-sm) {

			max-width: 200px;
		}
	}

	.big{
		font-size: @font-size-h2;
		color:@blue;
		.greekwords{
			font-size: @font-base;
		}
	}




	.bill{
		margin:0 auto;
		@media (max-width: @screen-sm) {
			padding: @pd*2;
			max-width: 300px;
		}

		@media (min-width: @screen-sm-min) {
			width: 400px;
		}

		.form{
			.label{
				font-size: 1.2em;
				color:@blue;
			}
		}

		.pay{
			padding-right: @pd;
			padding-left: @pd;
		}
	}
}