<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WordDebt</title>
    <style type="text/css">
        /* -------------------------------------
            GLOBAL
        ------------------------------------- */
        * {
            /*font-family: 'Roboto', sans-serif !important;*/
            font-size: 100%;
            line-height: 1.6em;
            margin: 0;
            padding: 0;
        }
        img {
            max-width: 600px;
            width: auto;
            border:none;
            outline: none;
            text-decoration:none
        }

        body {
            -webkit-font-smoothing: antialiased;
            height: 100%;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            font-size: 16px;
            color:black;
        }

        a.logo{
            text-decoration:none;
        }
        a.logo img{
            max-width: 250px;
        }




        /* -------------------------------------
            BODY
        ------------------------------------- */
        table.body-wrap {
            padding: 20px;
            width: 100%;
        }
        table.footer-wrap{
            width: 100%;
        }

        p{
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 22px;
        }
        /* ---------------------------------------------------
            RESPONSIVENESS
        ------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            clear: both !important;
            display: block !important;
            margin: 0 auto !important;
            max-width: 600px !important;
        }

        /* Set the padding on the td rather than the div for Outlook compatibility */
        .body-wrap .container {
            padding: 20px;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            display: block;
            margin: 0 auto;
            max-width: 600px;
        }

        .section{
            margin-bottom: 20px;
        }

        .section.logo-section{
            margin-bottom: 30px;
        }


        .section.full-statement{
            border:1px solid __MAINCOLOR__;
            text-align: center;
            margin-bottom: 20px;
        }
        .section.full-statement a{
            display: inline-block;
            width: 100%;
            height: 100%;
            color:__MAINCOLOR__;
            text-decoration: none;
            padding: 5px;

            border-bottom: 1px solid transparent;
            text-transform: uppercase;
            transition: all 0.5s ease;
            box-sizing: border-box !important;
            font-size: 18px;
        }
        .section.full-statement a:hover{
            border-bottom: 1px solid __MAINCOLOR__;
            color:white;
            background-color: __MAINCOLOR__;
        }

        /* Let's make sure tables in the content area are 100% wide */
        .content table {
            width: 100%;
        }

        .word-item{
            font-size: 18px;
            color: __MAINCOLOR__
        }
        .word-item td.word{
            font-weight: 500;
            vertical-align: top;
        }
        .word-item td.from{
            font-style: italic;
            vertical-align: top;
        }
        .word-item td.from div, .word-item td.word div{
            margin-bottom: 20px;
        }



        .section.debt-section .equal-sign{
            width: auto;
            text-align: center;
        }

        .equal-sign,.huge-numbers{
            font-size: 60px;
        }
        .small-huge p{
            font-size: 20px;
            margin: 0px !important;
            text-align: left;
            line-height: 26px;
        }
        .equal-sign,.huge-numbers,.small-huge{
            color: __MAINCOLOR__
        }

        .column40{
            width: 40%;
            text-align: center;
        }

        .donate-section .donate-link{
            text-decoration: none;
            width: 200px;
            background-color: __MAINCOLOR__;
            transition: all 0.5s ease;
            color:white;
            padding: 10px 20px;
            vertical-align: middle;
            display: inline-block;
        }

        .payoff-section p{
            font-size: 18px;
            text-align: center;
            color: __MAINCOLOR__;
        }
        .donate-section .donate-link > *{
            vertical-align: middle;
        }
        .donate-section .donate-link:hover{
            background-color: __MAINCOLORHOVER__;
        }

        .debt-section table{
            table-layout: fixed;
        }
        .footer-section{
            margin-top: 20px;
        }
        @media (max-width: 500px) {
            table.body-wrap {
                padding: 10px;
                width: 100%;
            }
            .huge-numbers,.equal-sign{
                font-size: 40px !important;
            }
            .small-huge p{
                font-size: 16px !important;
                margin: 0px !important;
                text-align: left;
                line-height: 20px;
            }
        }

    </style>
</head>

<body bgcolor="__GRAYCOLOR__">

<!-- body -->
<table class="body-wrap" bgcolor="__GRAYCOLOR__" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <!-- content -->
            <div class="content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div class="logo-section section">
                                <a class="logo" href="__HOST__">
                                    <img src="__LOGO__"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                __FIRSTLINE__,
                            </p>
                            <p>
                                __INTRO__
                            </p>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <div class="words-section section">

                                <table>
                                    __WORDREPEATERSTART__
                                    <tr class="word-item">
                                        <td  class="word" valign="top">
                                            <div>__WORDREPEATERWORD__</div>
                                        </td>
                                        <td class="from" valign="top">
                                            <div>- __WORDREPEATERETYMOLOGY__</div>
                                        </td>
                                    </tr>
                                    __WORDREPEATEREND__
                                </table>


                            </div>
                            <div class="section full-statement">
                                <a href="__PROFILELINK__">__SEEMORE__</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="debt-section section">
                                <table>
                                    <tr>
                                        <td class="column40">
                                            <p>__TOTALWORDSTEXT__</p>
                                        </td>
                                        <td class="equal-sign"></td>
                                        <td class="column40">
                                            <p>__DEBTTEXT__</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="column40">
                                            <table>
                                                <tr>
                                                    <td class="huge-numbers">__WORDCOUNT__</td>
                                                    <td class="small-huge">
                                                        <p>__GREEK__</p>
                                                        <p>__WORDS__</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="equal-sign" valign="center" align="center">
                                            =
                                        </td>
                                        <td class="column40">
                                            <span class="huge-numbers">
                                                __DEBT__ €
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="section payoff-section">
                                <p>__PAYOFF__</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">
                            <div class="donate-section section">
                                <a class="donate-link"
                                   href="__DONATELINK__"
                                   target="_blank">
                                    __PAYWITH__
                                    __PAYPALLOGO__
                                </a>
                            </div>

                        </td>
                    </tr>
                    <tr >
                        <td align="center">
                            <div class="section footer-section">
                                <img alt="smileofachild" src="__LOGOSMILE__">
                            </div>
                            <div class="section footer-section">
                                <img alt="healworld" src="__LOGOHEALWORLD__">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

</body>
</html>
