<div class="container message-page donate-error animated fadeIn">
    <a class="logo layout-row layout-align-center-center" href="/">
        <img class="responsive" src="/img/logo_WD_blue.png"/>
    </a>

    <div class="success-message">
        <h1 class="text-center"><%= __("authError") %></h1>

        <div class="layout-row layout-align-center-center">
            <a class="skewed-btn" md-ink-ripple="white" href="/">
                <span><%= __("home") %></span>
            </a>
        </div>
    </div>
</div>
<div class="page-top-triangle">
    <div class="inner"></div>
</div>