<div class="connect-with-page message-page layout-column layout-align-center-center animated fadeIn">
    <div class="page-top-triangle">
        <div class="inner"></div>
    </div>
    <div class="fullwidth logo layout-row layout-align-center-center">
        <a href="/"><img class="responsive" src="/img/logo_WD_blue.png"/></a>
    </div>
    <div class="layout-column layout-align-center-center">
        <div class="margin-b">
            <a class="skewed-btn" md-ink-ripple="white" href="/auth/twitter">
                <span><%= __("connectWithTwitter") %></span>
                <span class="twitter-logo white small"></span>
            </a>
        </div>
        <div class="flex">
            <a class="skewed-btn" md-ink-ripple="white" href="/auth/facebook">
                <span><%= __("connectWithFacebook") %></span>
                <span class="facebook-logo"></span>
            </a>

        </div>
    </div>
</div>
