<div class="container message-page donate-success animated fadeIn">
    <a class="logo layout-row layout-align-center-center" href="/">
        <img class="responsive" src="/img/logo_WD_blue.png"/>
    </a>

    <div class="success-message">
        <h1 class="text-center"><%= __("thanks") %>, <%= user && user.twitter && user.twitter.displayName %>!</h1>

        <div class="layout-column layout-align-center-center">
            <h3><%= __("youDonated") %> <%= result.AMT %> <%= result.CURRENCYCODE %></h3>
            <a md-ink-ripple="white" class="skewed-btn" href="/profile">
                <span><%= __("openMyProfile") %></span>
            </a>
        </div>
    </div>
</div>
<div class="page-top-triangle">
    <div class="inner"></div>
</div>