<div class="donate-page animated fadeIn" ng-controller="donatePageController" ng-init="donationSize=<%= total %>">
    <div class="container">
        <div class="fullwidth logo layout-row layout-align-center-center">
            <a href="/"><img class="responsive" src="/img/logo_WD_blue.png"/></a>
        </div>
        <div class="bill ">
            <div class="subsection">
                <div><%= __("totalWords") %></div>
                <div class="big layout-row layout-align-start-center">
                    <div class="margin-r-xs"><%= totalWords %></div>
                    <div class="greekwords">
                        <%= __("greek") %> <%= __("words") %>
                    </div>
                </div>
            </div>


            <div class="subsection">
                <div><%= __("currentDebt") %></div>
                <div class="big layout-row layout-align-start-center">
                    <%= total %> €
                </div>
            </div>

            <div class="divider"></div>
            <!--<div>-->
            <!--<a md-ink-ripple="white" class="skewed-btn" href="/profile"><%= __("openMyProfile") %></a>-->
            <!--</div>-->
            <div class="form margin-t">
                <form name="donateForm">
                    <div class="label"><%= __("donationSize") %></div>
                    <div class="layout-row layout-align-start-center form-group">
                        <input type="number" step="0.1" class="form-input text-right" numinput ng-model="donationSize"
                               placeholder="<%= __("donationSize") %>">
                        <span class="currency">€</span>
                    </div>
                    <div class="tip"><%= __("donationTip") %></div>


                    <button ng-disabled="!donationSize || donationSize==0" md-ink-ripple="white"
                            class="skewed-btn pay layout-row layout-align-start-center" ng-click="donate()">
                        <div><%= __("payWith") %></div>
                        <div class="paypal-white"></div>
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="page-top-triangle">
    <div class="inner"></div>
</div>