<div class="container message-page donate-error">
    <a class="logo layout-row layout-align-center-center" href="/">
        <img class="responsive" src="/img/logo_WD_blue.png"/>
    </a>

    <div class="success-message">
        <h1 class="text-center"><%= __("donateError") %></h1>

        <div class="layout-row layout-align-center-center">
            <a md-ink-ripple="white" class="skewed-btn" href="/profile">
                <span><%= __("openMyProfile") %></span>
            </a>
        </div>
    </div>
</div>
<div class="page-top-triangle">
    <div class="inner"></div>
</div>