<div class="container message-page donate-error animated fadeIn">
    <a class="logo layout-row layout-align-center-center" href="/">
        <img class="responsive" src="/img/logo_WD_blue.png"/>
    </a>

    <div class="success-message">
        <h1 class="text-center"><%= __("error") %></h1>
    </div>
</div>
<div class="page-top-triangle">
    <div class="inner"></div>
</div>