<div class="splash-screen">
    <div class="splash-wrapper">
        <md-progress-linear class="index-page-load-indicator" md-mode="indeterminate"></md-progress-linear>
    </div>

</div>

<div class="landing-page" ng-controller="indexPageController" >

    <!--scroll wrapper-->
    <div page-scroller=".page">
        <!--FIRST PAGE-->
        <div id="page-problem" class="bg-cropped page-problem image-page page">

            <div class="logo-section layout-row layout-align-center-start layout-xs-column layout-align-xs-center-center">
                <div class="flex-gt-xs">
                    <div lang-switcher></div>
                </div>
                <div class="flex-gt-xs layout-row layout-align-center-center  text-center">
                    <div class="logo">
                        <img class="responsive" src="/img/logo_worddebt_first_page.png"/>

                        <div class="logo-text"><%- __('logotext') %></div>
                    </div>
                </div>
                <div class="flex-gt-xs partner-logo layout-row layout-align-center-start">
                    <div>
                        <div class="logo-tip"><%= __("partnership") %></div>
                        <img class="responsive healworld-img" src="/img/partner_logo_healrworld.png"/>
                    </div>
                    <div class="separator-v"></div>
                    <div class="">
                        <div class="logo-tip"><%= __("benefit") %></div>
                        <img class="responsive smileofachild-img" src="/img/logo_smile_grey_mini.png"/>
                    </div>




                </div>
            </div>

            <div class="active-content">
                <div class="container narrow layout-column layout-align-start-center">
                    <div class="text-heading"><%= __('theProblem') %></div>
                    <p>
                        <%= __('problemText') %>
                    </p>


                </div>
                <div class="container">
                    <% if(!userAuthorized) { %>

                    <div class="split-btn">
                        <a md-ink-ripple="white" class="skewed-btn" href="/auth/twitter">
                            <span>{{"connectWithTwitter"|translate}}</span>
                            <span class="twitter-logo white small"></span>
                        </a>
                        <a md-ink-ripple="white" class="skewed-btn bg-facebook" href="/auth/facebook">
                            <span>{{"connectWithFacebook"|translate}}</span>
                            <span class="facebook-logo"></span>
                        </a>
                    </div>
                    <% } %>

                    <% if(userAuthorized) { %>
                    <a class="skewed-btn" href="/profile">
                    <span class=""><%= __('openMyProfile') %>
                        <span class="hide-xs hide-sm margin-l-xs">(<%= user[authProvider].displayName %>)</span></span>
                        <span class="<%= authProvider %>-logo white small"></span>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>


        <!--Other pages-->
        <div class="index-content">

            <!--menu-->
            <div class="header-menu layout-row layout-align-space-between-center">
                <div class="flex layout-row layout-align-end-center layout-align-xs-center-center">

                    <div>
                        <% if(!userAuthorized) { %>
                        <div class="split-btn">
                            <a md-ink-ripple="white" class="skewed-btn" href="/auth/twitter">
                                <span>{{"connectWithTwitter"|translate}}</span>
                                <span class="twitter-logo white small"></span>
                            </a>
                            <a md-ink-ripple="white" class="skewed-btn bg-facebook" href="/auth/facebook">
                                <span>{{"connectWithFacebook"|translate}}</span>
                                <span class="facebook-logo"></span>
                            </a>
                        </div>
                        <% } %>

                        <% if(userAuthorized) { %>
                        <a class="skewed-btn" md-ink-ripple="white" href="/profile">
                            <span class=""><%= __('openMyProfile') %></span>
                            <span class="<%= authProvider %>-logo white small"></span>
                        </a>
                        <% } %>
                    </div>
                </div>
            </div>

            <!--SECOND PAGE-->
            <div id="whatwecando" class="page-whatwecando image-page page bg-cropped layout-column ">
                <div class="flex container narrow layout-column layout-align-end-center active-content">
                    <div class="text-heading"><%= __('whatWeCanDo') %></div>
                    <p>
                        <%= __('whatWeCanDoText') %>
                    </p>

                    <md-button class="btn-white" ng-click="showVideo($event)">
                        <span><%= __('watchVideo') %> </span>
                        <span class="icon-play"></span>
                    </md-button>
                </div>
            </div>


            <div id="howitworks" class="page">
                <!--BLUE LINE WITH FORMULA-->
                <div class="top-line active-content">
                    <div class="formula layout-row">
                        <div class="flex layout-row layout-align-end-center">
                            <div class="digit">1</div>
                            <div class="small">
                                <div><%= __("greekSingle") %></div>
                                <div><%= __("word") %></div>
                            </div>
                        </div>
                        <div class="equals layout-row layout-align-center-center">=</div>
                        <div class="flex layout-row layout-align-start-center">
                            <div class="digit">0.1</div>
                            <div class="currency">€</div>
                        </div>
                    </div>
                </div>


                <div class="container narrow howitworks-copy active-content text-center">
                    <div class="text-heading"><%= __("howItWorks") %></div>
                    <div class=""><%= __("howItWorksText") %></div>
                </div>

                <!--SLIDER WITH STEPS-->
                <div class="slider-wrapper " >
                    <div class="fullsize howitworks-slider slider rsDefaultInv">

                        <!--Step 1-->
                        <div class="slide rsContent">
                            <div class="container layout-row layout-align-center-center">
                                <div class="flex step-title-wr active-content">
                                    <div class="step-title step-1">
                                        <div class="step-title-arrow"></div>
                                        <div class="stepcontent">
                                            <div class="stepno"><%= __('step')%> 1:</div>
                                            <div class="steptext"><%= __('step1')%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-step bg-step-1"></div>
                                <div class="flex step-description active-content">
                                    <div class="text-heading"><%= __("howItWorks") %></div>
                                    <div class=""><%= __("howItWorksText") %></div>
                                </div>
                            </div>
                        </div>

                        <!--Step 2-->
                        <div class="slide rsContent">
                            <div class="container layout-row layout-align-center-center">
                                <div class="flex step-title-wr">
                                    <div class="step-title  step-2">
                                        <div class="step-title-arrow"></div>
                                        <div class="stepcontent">
                                            <div class="stepno"><%= __('step')%> 2:</div>
                                            <div class="steptext"><%= __('step2')%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-step bg-step-2"></div>
                                <div class="flex step-description">
                                    <div class="text-heading"><%= __("howItWorks") %></div>
                                    <div class=""><%= __("howItWorksText") %></div>
                                </div>
                            </div>
                        </div>

                        <!--Step 3-->
                        <div class="slide rsContent">
                            <div class="container layout-row layout-align-center-center">
                                <div class="flex step-title-wr">
                                    <div class="step-title  step-3">
                                        <div class="step-title-arrow"></div>
                                        <div class="stepcontent">
                                            <div class="stepno"><%= __('step')%> 3:</div>
                                            <div class="steptext"><%= __('step3')%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-step bg-step-3"></div>
                                <div class="flex step-description">
                                    <div class="text-heading"><%= __("howItWorks") %></div>
                                    <div class=""><%= __("howItWorksText") %></div>
                                </div>
                            </div>
                        </div>

                        <!--Step 4-->
                        <div class="slide rsContent">
                            <div class="container layout-row layout-align-center-center">
                                <div class="flex step-title-wr">
                                    <div class="step-title  step-4">
                                        <div class="step-title-arrow"></div>
                                        <div class="stepcontent">
                                            <div class="stepno"><%= __('step')%> 4:</div>
                                            <div class="steptext"><%= __('step4')%></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-step bg-step-4"></div>
                                <div class="flex step-description">
                                    <div class="text-heading"><%= __("howItWorks") %></div>
                                    <div class=""><%= __("howItWorksText") %></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--PAGING FOR SLIDER-->
                <div class="paging active-content layout-row layout-align-center-center">
                    <div class="bullet skewed-btn black skew-r" ng-class="{active:activeSlideIndex==0}" ng-click="goSlide(0)">1</div>
                    <div class="bullet skewed-btn black skew-r" ng-class="{active:activeSlideIndex==1}" ng-click="goSlide(1)">2</div>
                    <div class="bullet skewed-btn black skew-r" ng-class="{active:activeSlideIndex==2}" ng-click="goSlide(2)">3</div>
                    <div class="bullet skewed-btn black skew-r" ng-class="{active:activeSlideIndex==3}" ng-click="goSlide(3)">4</div>
                </div>
            </div>

            <!--MAP WITH STATS-->
            <div id="worddebtmap" class="map-section page layout-column layout-align-center-center">

                <div class="">
                    <div class="toptext active-content">
                        <div class="text-heading"><%= __("wordStatsTitle") %></div>
                        <p ><%= __("wordStatsSubtitle") %></p>
                    </div>

                    <div class="map-wrapper active-content layout-row layout-align-center-center">
                        <div class="map-bg">
                            <div class="fullsize" ng-if="statsLoaded">
                                <div class="stat-circle flip-panel circle-namerica layout-row layout-align-center-center ">
                                    <div class="fullsize users front side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.users.na}}</div>
                                        <div class="label"><%= __("supporters") %></div>
                                    </div>
                                    <div class="fullsize words back side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.words.na}}</div>
                                        <div class="label"><%= __("greek")+' '+__('words') %></div>
                                    </div>
                                </div>
                                <div class="stat-circle flip-panel circle-samerica layout-row layout-align-center-center">
                                    <div class="fullsize users front side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.users.sa}}</div>
                                        <div class="label"><%= __("supporters") %></div>
                                    </div>
                                    <div class="fullsize words back side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.words.sa}}</div>
                                        <div class="label"><%= __("greek")+' '+__('words') %></div>
                                    </div>
                                </div>
                                <div class="stat-circle flip-panel circle-africa layout-row layout-align-center-center">
                                    <div class="fullsize users front side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.users.af}}</div>
                                        <div class="label"><%= __("supporters") %></div>
                                    </div>
                                    <div class="fullsize words back side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.words.af}}</div>
                                        <div class="label"><%= __("greek")+' '+__('words') %></div>
                                    </div>
                                </div>
                                <div class="stat-circle flip-panel circle-europe layout-row layout-align-center-center">
                                    <div class="fullsize users front side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.users.eu}}</div>
                                        <div class="label"><%= __("supporters") %></div>
                                    </div>
                                    <div class="fullsize words back side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.words.eu}}</div>
                                        <div class="label"><%= __("greek")+' '+__('words') %></div>
                                    </div>
                                </div>
                                <div class="stat-circle flip-panel circle-asia layout-row layout-align-center-center">
                                    <div class="fullsize users front side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.users.as}}</div>
                                        <div class="label"><%= __("supporters") %></div>
                                    </div>
                                    <div class="fullsize words back side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.words.as}}</div>
                                        <div class="label"><%= __("greek")+' '+__('words') %></div>
                                    </div>
                                </div>
                                <div class="stat-circle flip-panel circle-australia layout-row layout-align-center-center">
                                    <div class="fullsize users front side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.users.oc}}</div>
                                        <div class="label"><%= __("supporters") %></div>
                                    </div>
                                    <div class="fullsize words back side layout-column layout-align-center-center">
                                        <div class="count">{{::stats.words.oc}}</div>
                                        <div class="label"><%= __("greek")+' '+__('words') %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="stat-text active-content layout-row layout-align-center-center layout-xs-column layout-align-xs-start-center" ng-show="peopleJoined">
                        <div class="flex-gt-xs layout-row layout-xs-column layout-align-xs-center-start">
                            <div class="flex-gt-xs stat-tab layout-row layout-align-end-center" ng-mouseenter="lockMapState(true)" ng-mouseleave="unlockMapState()">
                                <span class="digit">{{peopleJoined}}</span>
                                <span class="black"><%= __("supporters") %></span>
                            </div>
                            <div class="separator hide-xs"></div>
                            <div class="flex-gt-xs stat-tab layout-row layout-align-start-center" ng-mouseenter="lockMapState(false)" ng-mouseleave="unlockMapState()">
                                <span class="digit">{{greekWordsUsedTotal}}</span>
                                <span class="black"><%= __("greek") + " "+__("words") %></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Word Cloud-->
            <div id="wordcloud" class="word-cloud page layout-column layout-align-center-center" >
                <div class="container bg-wordcloud active-content">
                    <div class="text-heading">
                        <div class="text"><%= __("greekWordsCloudTitle")%></div>
                        <div class="marker"></div>
                    </div>
                    <div class="cloud-wrapper">
                        <canvas height="300" width="400" id="wordCloudCanvas">
                            <p></p>
                        </canvas>

                        <div id="wordCloudItems" class="hidden" ng-if="cloudLoaded && wordsCloud && wordsCloud.length">
                            <a ng-repeat="word in ::wordsCloud" ng-hover="wordSelected(word)" ng-click="wordSelected(word)" data-weight="{{::word.total}}">{{::word.word}}</a>
                        </div>

                        <div class="book-wrapper">
                            <div class="book-bg">
                                <div class="word">{{hoveredWord.word}}</div>
                                <div class="desc"><%= __("fromGreek")+" "%>{{hoveredWord.etymology+' - '+hoveredWord.meaning}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--References-->
            <!--<div class="references">-->
            <!--<div class="container">-->
            <!--</div>-->
            <!--</div>-->


            <!--PAY OFF-->
            <div id="payoff-page" class="image-page page info-section">
                <div class="page-payoff bg-cropped layout-column layout-align-end-center">
                    <div class="container active-content">
                        <div class="text-heading"><%= __("startPayingOff") %></div>
                        <p ><%= __("startPayingOffSub") %></p>

                        <div class="margin-t">
                            <% if(!userAuthorized) { %>
                            <div class="split-btn">
                                <a md-ink-ripple="white" class="skewed-btn" href="/auth/twitter">
                                    <span>{{"connectWithTwitter"|translate}}</span>
                                    <span class="twitter-logo white small"></span>
                                </a>
                                <a md-ink-ripple="white" class="skewed-btn bg-facebook" href="/auth/facebook">
                                    <span>{{"connectWithFacebook"|translate}}</span>
                                    <span class="facebook-logo"></span>
                                </a>
                            </div>
                            <% } %>

                            <% if(userAuthorized) { %>
                            <a class="skewed-btn" md-ink-ripple="white" href="/profile">
                                <span class=""><%= __('openMyProfile') %></span>
                                <span class="<%= authProvider %>-logo white small"></span>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="fundstext active-content">
                    <div class="container narrow"><%= __("fundsTip") %></div>
                </div>

                <!--PARTNERS-->
                <div id="partners" class="active-content">
                    <div class="container">
                        <div class="contactus">
                            <a href="mailto:contact@worddebt.org"> <%= __("contactUs") %></a>
                        </div>
                        <div class="layout-row  layout-align-center-center ">
                            <div class="layout-row flex-gt-sm-60 layout-wrap">
                                <div class="partners-label flex-gt-sm-33 flex-100 layout-row layout-align-start-center">
                                    <div class="flex"><%= __("partners") %></div>
                                    <div class="separator"></div>
                                </div>
                                <div class="layout-row flex-gt-sm-66 flex-100">
                                    <div class="flex-50 partner-logo layout-column layout-align-center-center">
                                        <a href="http://www.hamogelo.gr/" target="_blank"><div class="smileofachild"></div></a>
                                        <div class="bg-preloader smileofachild-color"></div>
                                        <div class="findout"><%= __("findOutMoreAbout")%></div>
                                    </div>
                                    <div class="flex-50 partner-logo layout-column layout-align-center-center">
                                        <a href="http://www.healrworld.com/" target="_blank"><div class="healworld"></div></a>
                                        <div class="bg-preloader healworld-color"></div>
                                        <div class="findout"><%= __("findOutMoreAbout")%></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>




            <!--FOOTER-->
            <div class="footer layout-row layout-align-center-center">
                <div class="logo-wd logo-wd-footer"></div>
            </div>

        </div>
    </div>
</div>

<!--Share widget-->
<div class="share-wrapper">
    <div class="share-text hide-xs hide-sm"><%= __("shareText")%></div>
    <div id="share-widget"></div>
</div>







