<!doctype html>
<html>
<head>
    <title>WordDebt</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" id="viewport-meta">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="title" content="WordDebt"/>
    <meta property="og:title" content="WordDebt"/>

    <meta property="og:image" content="/img/post_twitter.png"/>
    <meta name="keywords" content="<%= __('keywords') %>">
    <meta name="description" content="<%= __('howItWorksText') %>"/>
    <meta property="og:description" content="<%= __('howItWorksText') %>"/>

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <script>
        var removeHash = function () {
            var scrollV, scrollH, loc = window.location;
            if ("pushState" in history)
                history.pushState("", document.title, loc.pathname + loc.search);
            else {
                // Prevent scrolling by storing the page's current scroll offset
                scrollV = document.body.scrollTop;
                scrollH = document.body.scrollLeft;

                loc.hash = "";

                // Restore the scroll offset, should be flicker free
                document.body.scrollTop = scrollV;
                document.body.scrollLeft = scrollH;
            }
        };
        //Remove hash fragments from url if any
        removeHash();
    </script>

    <link rel="image_src" href="/img/post_twitter.png"/>

    <link rel="stylesheet" href="/build/worddebt.css">
    <script src="/build/vendor.worddebt.js"></script>
</head>
<body class="worddebt">

<%- body %>

<script src="/build/worddebt.js"></script>
<script src="https://yastatic.net/share2/share.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76761024-1', 'auto');
    ga('send', 'pageview');

    <% if(user){ %>
    ga('set', 'userId', "<%= user.id %>");
    <% } %>

</script>


<!--Video.js from cdn-->
<!--<link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">-->
<!--<script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>-->

<link href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&subset=cyrillic,cyrillic-ext,latin,latin-ext'
      rel='stylesheet' type='text/css'>
</body>
</html>