<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<head style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <meta charset="utf-8" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <meta name="viewport" content="width=device-width" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <title style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">WordDebt</title>
    <style type="text/css" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
        /* -------------------------------------
            GLOBAL
        ------------------------------------- */
        * {
            /*font-family: 'Roboto', sans-serif !important;*/
            font-size: 100%;
            line-height: 1.6em;
            margin: 0;
            padding: 0;
        }
        img {
            max-width: 600px;
            width: auto;
            border:none;
            outline: none;
            text-decoration:none
        }

        body {
            -webkit-font-smoothing: antialiased;
            height: 100%;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            font-size: 16px;
            color:black;
        }

        a.logo{
            text-decoration:none;
        }
        a.logo img{
            max-width: 250px;
        }




        /* -------------------------------------
            BODY
        ------------------------------------- */
        table.body-wrap {
            padding: 20px;
            width: 100%;
        }
        table.footer-wrap{
            width: 100%;
        }

        p{
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 22px;
        }
        /* ---------------------------------------------------
            RESPONSIVENESS
        ------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            clear: both !important;
            display: block !important;
            margin: 0 auto !important;
            max-width: 600px !important;
        }

        /* Set the padding on the td rather than the div for Outlook compatibility */
        .body-wrap .container {
            padding: 20px;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            display: block;
            margin: 0 auto;
            max-width: 600px;
        }

        .section{
            margin-bottom: 20px;
        }

        .section.logo-section{
            margin-bottom: 30px;
        }


        .section.full-statement{
            border:1px solid #168ec0;
            text-align: center;
            margin-bottom: 20px;
        }
        .section.full-statement a{
            display: inline-block;
            width: 100%;
            height: 100%;
            color:#168ec0;
            text-decoration: none;
            padding: 5px;

            border-bottom: 1px solid transparent;
            text-transform: uppercase;
            transition: all 0.5s ease;
            box-sizing: border-box !important;
            font-size: 18px;
        }
        .section.full-statement a:hover{
            border-bottom: 1px solid #168ec0;
            color:white;
            background-color: #168ec0;
        }

        /* Let's make sure tables in the content area are 100% wide */
        .content table {
            width: 100%;
        }

        .word-item{
            font-size: 18px;
            color: #168ec0
        }
        .word-item td.word{
            font-weight: 500;
            vertical-align: top;
        }
        .word-item td.from{
            font-style: italic;
            vertical-align: top;
        }
        .word-item td.from div, .word-item td.word div{
            margin-bottom: 20px;
        }



        .section.debt-section .equal-sign{
            width: auto;
            text-align: center;
        }

        .equal-sign,.huge-numbers{
            font-size: 60px;
        }
        .small-huge p{
            font-size: 20px;
            margin: 0px !important;
            text-align: left;
            line-height: 26px;
        }
        .equal-sign,.huge-numbers,.small-huge{
            color: #168ec0
        }

        .column40{
            width: 40%;
            text-align: center;
        }

        .donate-section .donate-link{
            text-decoration: none;
            width: 200px;
            background-color: #168ec0;
            transition: all 0.5s ease;
            color:white;
            padding: 10px 20px;
            vertical-align: middle;
            display: inline-block;
        }

        .payoff-section p{
            font-size: 18px;
            text-align: center;
            color: #168ec0;
        }
        .donate-section .donate-link > *{
            vertical-align: middle;
        }
        .donate-section .donate-link:hover{
            background-color: #16bbf3;
        }

        .debt-section table{
            table-layout: fixed;
        }
        .footer-section{
            margin-top: 20px;
        }
        @media (max-width: 500px) {
            table.body-wrap {
                padding: 10px;
                width: 100%;
            }
            .huge-numbers,.equal-sign{
                font-size: 40px !important;
            }
            .small-huge p{
                font-size: 16px !important;
                margin: 0px !important;
                text-align: left;
                line-height: 20px;
            }
        }

    </style>
</head>

<body bgcolor="#ececec" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; color: black; font-size: 16px; height: 100%; line-height: 1.6em; margin: 0; padding: 0; width: 100% !important;">

<!-- body -->
<table class="body-wrap" bgcolor="#ececec" cellpadding="0" cellspacing="0" border="0" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 20px; width: 100%;">
    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
        <td style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
        <td class="container" bgcolor="#FFFFFF" style="clear: both !important; display: block !important; font-size: 100%; line-height: 1.6em; margin: 0 auto !important; max-width: 600px !important; padding: 20px;">

            <!-- content -->
            <div class="content" style="display: block; font-size: 100%; line-height: 1.6em; margin: 0 auto; max-width: 600px; padding: 0;">
                <table cellpadding="0" cellspacing="0" border="0" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; width: 100%;">
                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                        <td align="center" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                            <div class="logo-section section" style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 30px; padding: 0;">
                                <a class="logo" href="<%= host %>" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; text-decoration: none;">
                                    <img src="<%= logo %>" style="border: none; font-size: 100%; line-height: 1.6em; margin: 0; max-width: 250px; outline: none; padding: 0; text-decoration: none; width: auto;">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                        <td style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                            <p style="font-size: 16px; font-weight: normal; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;">
                                <%= __('mailNamePre') %> <%= user.twitter.displayName %>,
                            </p>
                            <p style="font-size: 16px; font-weight: normal; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;">
                                <%= __('mailMessage') %>
                            </p>
                        </td>
                    </tr>
                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                        <td style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                            <div class="words-section section" style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;">

                                <table style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; width: 100%;">
                                    <% for(var i = 0; i < matchings.length; i++) { %>
                                    <tr class="word-item" style="color: #168ec0; font-size: 18px; line-height: 1.6em; margin: 0; padding: 0;">
                                        <td class="word" valign="top" style="font-size: 100%; font-weight: 500; line-height: 1.6em; margin: 0; padding: 0; vertical-align: top;">
                                            <div style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;"><%= matchings[i].word %></div>
                                        </td>
                                        <td class="from" valign="top" style="font-size: 100%; font-style: italic; line-height: 1.6em; margin: 0; padding: 0; vertical-align: top;">
                                            <div style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;">- <%= __('from') %> <%= matchings[i].etymology %></div>
                                        </td>
                                    </tr>
                                    <% } %>
                                </table>


                            </div>
                            <div class="section full-statement" style="border: 1px solid #168ec0; font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0; text-align: center;">
                                <a href="<%= host + '/profile' %>" style="border-bottom: 1px solid transparent; box-sizing: border-box !important; color: #168ec0; display: inline-block; font-size: 18px; height: 100%; line-height: 1.6em; margin: 0; padding: 5px; text-decoration: none; text-transform: uppercase; transition: all 0.5s ease; width: 100%;"><%= __('seeMore') %></a>
                            </div>
                        </td>
                    </tr>

                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                        <td style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                            <div class="debt-section section" style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;">
                                <table style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; table-layout: fixed; width: 100%;">
                                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                                        <td class="column40" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; text-align: center; width: 40%;">
                                            <p style="font-size: 16px; font-weight: normal; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;"><%= __('totalWords') %></p>
                                        </td>
                                        <td class="equal-sign" style="color: #168ec0; font-size: 60px; line-height: 1.6em; margin: 0; padding: 0; text-align: center; width: auto;"></td>
                                        <td class="column40" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; text-align: center; width: 40%;">
                                            <p style="font-size: 16px; font-weight: normal; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;"><%= __('currentDebt') %></p>
                                        </td>
                                    </tr>
                                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                                        <td class="column40" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; text-align: center; width: 40%;">
                                            <table style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; table-layout: fixed; width: 100%;">
                                                <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                                                    <td class="huge-numbers" style="color: #168ec0; font-size: 60px; line-height: 1.6em; margin: 0; padding: 0;"><%= count %></td>
                                                    <td class="small-huge" style="color: #168ec0; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                                                        <p style="font-size: 20px; font-weight: normal; line-height: 26px; margin: 0px !important; margin-bottom: 20px; padding: 0; text-align: left;"><%= __('greek') %></p>
                                                        <p style="font-size: 20px; font-weight: normal; line-height: 26px; margin: 0px !important; margin-bottom: 20px; padding: 0; text-align: left;"><%= __('words') %></p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="equal-sign" valign="center" align="center" style="color: #168ec0; font-size: 60px; line-height: 1.6em; margin: 0; padding: 0; text-align: center; width: auto;">
                                            =
                                        </td>
                                        <td class="column40" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; text-align: center; width: 40%;">
                                            <span class="huge-numbers" style="color: #168ec0; font-size: 60px; line-height: 1.6em; margin: 0; padding: 0;">
                                                <%= debt %> €
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                        <td style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                            <div class="section payoff-section" style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;">
                                <p style="color: #168ec0; font-size: 18px; font-weight: normal; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0; text-align: center;"><%= __('payoff') %></p>
                            </div>
                        </td>
                    </tr>
                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                        <td align="center" valign="middle" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                            <div class="donate-section section" style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; padding: 0;">
                                <a class="donate-link" href="<%= donateLink %>" target="_blank" style="background-color: #168ec0; color: white; display: inline-block; font-size: 100%; line-height: 1.6em; margin: 0; padding: 10px 20px; text-decoration: none; transition: all 0.5s ease; vertical-align: middle; width: 200px;">
                                    <%= __('payWith') %>
                                    <img src='<%= paypalLogoUrl %>'>
                                </a>
                            </div>

                        </td>
                    </tr>
                    <tr style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                        <td align="center" style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                            <div class="section footer-section" style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; margin-top: 20px; padding: 0;">
                                <img alt="smileofachild" src="<%= logoSmile %>" style="border: none; font-size: 100%; line-height: 1.6em; margin: 0; max-width: 600px; outline: none; padding: 0; text-decoration: none; width: auto;">
                            </div>
                            <div class="section footer-section" style="font-size: 100%; line-height: 1.6em; margin: 0; margin-bottom: 20px; margin-top: 20px; padding: 0;">
                                <img alt="healworld" src="<%= logoHeal %>" style="border: none; font-size: 100%; line-height: 1.6em; margin: 0; max-width: 600px; outline: none; padding: 0; text-decoration: none; width: auto;">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td style="font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    </tr>
</table>
<!-- /body -->

</body>
</html>
