<div class="profile-menu animated fadeInDown">
    <div class="layout-row layout-xs-column layout-align-space-between-center ">
        <div class="flex flex-order-xs-2">

            <div class="userinfo layout-row layout-align-start-center">
                <% if (user[authProvider].avatar && user[authProvider].avatar.length){ %>
                <div class="avatar bg-cropped margin-r-sm"
                     style="background-image: url('<%= user[authProvider].avatar %>')"></div>
                <% } %>
                <div>
                    <div class="username layout-row layout-align-start-center">
                        <div><%= user[authProvider].displayName %></div>
                        <md-button class="logout-link" href="/logout">
                            <span><%= __("logout") %></span>
                        </md-button>
                    </div>
                    <div class="joined">
                        <%= __("joinedOn") %> <%= userJoinedDate %>
                    </div>
                </div>

            </div>
            <% if(!user["twitter"] || !user["twitter"]["id"]){ %>
            <div>
                <a class="connect-link" href="/auth/twitter">
                    <span class="twitter-logo small"></span>
                    <span><%= __("addTwitterAccount") %></span>
                </a>
            </div>
            <% } %>
            <% if(!user["facebook"] || !user["facebook"]["id"]){ %>
            <div>
                <a class="connect-link" href="/auth/facebook">
                    <span class="facebook-logo"></span>
                    <span><%= __("addFacebookAccount") %></span>
                </a>
            </div>
            <% } %>

        </div>
        <div class="flex flex-order-xs-1">
            <a class="logo layout-row layout-align-center-center" href="/">
                <img class="responsive" src="/img/logo_WD_blue.png"/>
            </a>
        </div>
        <div class="flex hide-xs"></div>
    </div>
</div>
<div class="profile-container">
    <div profile>
    </div>
</div>


<div class="footer layout-row layout-align-center-center">

</div>