<div class="admin-menu layout-row layout-align-space-between-center animated fadeIn">
    <div class="flex layout-row layout-align-start-center">
        <a class="skewed-btn skew-r" href="/">
            <span><%= __("home") %></span>
        </a>
    </div>
    <div class="flex layout-row layout-align-end-center">

        <a class="profile-link" href="/profile">
            <div class="layout-row layout-align-center-center">
                <div class="margin-r-sm username"><%= user[authProvider].displayName %></div>
                <% if (user[authProvider].avatar && user[authProvider].avatar.length){ %>
                <div class="avatar bg-cropped margin-r-sm"
                     style="background-image: url('<%= user[authProvider].avatar %>')"></div>
                <% } %>
            </div>
        </a>

        <div>
            <a class="skewed-btn" href="/logout">
                <span><%= __("logout") %></span>
            </a>
        </div>
    </div>
</div>
<div admin>
</div>

<link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->