<div class="lang-switcher">

	<div class="hide-xs layout-row layout-align-start-center">
		<div ng-repeat="locale in locales"
		     class="lang"
		     ng-click="setLanguage(locale)"
		     ng-class="{'active':isActiveLang(locale)}">{{locale}}</div>

	</div>


	<md-menu class="lang-switcher-responsive hide-gt-xs">
		<div
				class="lang lang-responsive"
		           aria-label="setlanguage"
		           ng-click="$mdOpenMenu()"
		           >
			{{activeLocale}}
		</div>



		<md-menu-content class="lang-menu-content" width="1">
			<md-button ng-repeat="locale in locales"
			           class="lang"
			           ng-click="setLanguage(locale)"
			           ng-class="{'active':isActiveLang(locale)}">{{locale|uppercase}}
			</md-button>
		</md-menu-content>
	</md-menu>
</div>