@import "../../styles/variables";

.lang-switcher{
	width: 250px;
	height: 50px;
	position:absolute;
	top:@pd;
	left:@pd;

	z-index:@baseZ + 3;
	color:white;
	text-align:left;
	.lang{
		color:white;
		cursor: pointer;
		padding: 10px;
		opacity: 0.4;
		display: inline-block;
		transition: opacity 0.5s ease;
		outline:none !important;
		text-transform: uppercase;
		position:relative;

		&:after{
			position: absolute;
			bottom: 0px;
			content: "";
			left:0px;
			right:0px;
			width: 0%;
			height: 1px;
			display: block;
			background-color: white;
			transition: all 0.7s ease-in-out;
		}

		&:hover,
		&.active{
			opacity: 1;
			position: relative;

		}
		&.active{
			&:after{
				width: 100%;
			}
		}

		&.lang-responsive{
			opacity: 1;
		}


	}
	.lang-responsive{
		text-align:center;
	}
}