<div class="admin fullsize layout-row">
	<md-progress-linear class="loading-data" ng-if="loading" md-mode="indeterminate"></md-progress-linear>

	<div class="flex content-padding-sm layout-column">
		<div class="margin-b">
			<div class="toprow layout-row layout-align-start-center">
				<div class="flex">
					<input class="form-input" ng-model="searchFilter" placeholder="Search by matchings, meaning or roots" ng-change="search(true)">
				</div>
				<i class="margin-l-sm fa fa-plus" ng-click="addRoot()"></i>
			</div>


		</div>
		<div class="flex overflow-scroll-y" scroll-load="search" offset="200">
			<div class="roots-list">
				<div ng-repeat="root in roots" class="root margin-b" ng-click="editRoot(root)">
					<div class="margin-b-sm">
						<div class="label">Meaning</div>
						{{root.meaning}}
					</div>
					<div class="margin-b-sm">
						<div class="label">Etymology</div>
						{{root.etymology}}
					</div>
					<div class="margin-b-sm roots-block">
						<div class="label">Roots</div>
						{{root.roots.join(", ")}}
					</div>
					<div>
						<div class="label">Matching words</div>
						{{root.matching.join(", ")}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex content-padding-sm overflow-scroll-y ">
		<div ng-if="saving">...Saving...</div>
		<div ng-if="editedRoot" class="root edit-root">
			<div class="layout-row layout-align-start-center">
				<div class="toptitle" ng-if="!editedRoot._id">New greek root</div>
				<div class="toptitle" ng-if="editedRoot._id">Edit greek root</div>

				<div class="flex">
					<md-tabs md-stretch-tabs="always" md-selected="inner.selectedLocaleTab">
						<md-tab md-on-select="selectLocaleTab(locale)" ng-repeat="locale in locales">{{locale}}</md-tab>
					</md-tabs>
				</div>
			</div>

			<div class="content-padding-sm">
				<div class="margin-b">
					<div class="label">Meaning</div>
					<input class="form-input" ng-model="editedRootLocaleSection.meaning" placeholder="-Meaning-">
				</div>
				<div class="margin-b">
					<div class="label">Etymology</div>
					<input class="form-input" ng-model="editedRootLocaleSection.etymology" placeholder="-Etymology-">
				</div>
				<div class="margin-b">
					<div class="label layout-row">
						<div>Roots</div>
						<i ng-click="addItem(editedRootLocaleSection.tmpRoots,'roots')" class="margin-l-sm fa fa-plus"></i>
					</div>
					<div class="items roots">
						<div class="item layout-row layout-align-start-center" ng-repeat="r in editedRootLocaleSection.tmpRoots">
							<div class="flex">
								<input class="form-input" ng-model="r.value" placeholder="-Root-">
							</div>
							<div ng-click="removeItem(editedRootLocaleSection.tmpRoots,r)" class="remove">&times;</div>
						</div>
					</div>
				</div>
				<div class="margin-b">
					<div class="label layout-row">
						<div>Matching words</div>
						<i ng-click="addItem(editedRootLocaleSection.tmpMatching,'matchings')" class="margin-l-sm fa fa-plus"></i>
					</div>
					<div class="items matchings">
						<div class="item layout-row layout-align-start-center" ng-repeat="m in editedRootLocaleSection.tmpMatching">
							<div class="flex">
								<input class="form-input" ng-model="m.value" placeholder="-Matching word-">
							</div>
							<div ng-click="removeItem(editedRootLocaleSection.tmpMatching,m)" class="remove">&times;</div>
						</div>
					</div>
				</div>


				<div class="margin-t buttons layout-row layout-align-center-center" ng-if="!saving">
					<button class="skewed-btn margin-r" ng-click="save()" ng-disabled="!validate()">
						Save
					</button>

					<button class="skewed-btn" ng-click="cancel()">
						Cancel
					</button>

					<button ng-if="editedRoot._id" class="skewed-btn warning" ng-click="delete($event)">
						Delete
					</button>
				</div>

			</div>



		</div>
	</div>
</div>