@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/vendor-prefixes";


.admin {
	min-height: 400px;
	top:@stickyMenuHeight !important;

	md-progress-linear.loading-data{
		position: absolute;
		top:0;
		right: 0;
		left:0;

		z-index: @baseZ + 2;
		.md-bar{
			background-color: @blue;
		}
		.md-container{
			background-color: fade(@blue,10%);
		}
	}

	.toprow{
		.fa{
			opacity: 0.7;
			cursor: pointer;
			outline:none !important;
			&:hover{
				opacity: 1;
			}
		}
	}
	.root{
		border: 1px solid @gray;

		margin-bottom: @pd/2;
		cursor: pointer;
		transition: all 0.5s ease;
		outline:none !important;
		&.ng-enter {
			transition: 0.5s ease all;
			/* standard transition code */
			//height: 0px;
			opacity: 0;
		}
		&.ng-enter.ng-enter-active {
			/* standard transition styles */
			//height: @itemHeight;
			opacity: 1;
		}
		&.ng-leave {
			transition: 0.5s ease all;
			/* standard transition code */
			//height: 0px;
			opacity: 1;
		}
		&.ng-leave.ng-leave-active {
			/* standard transition styles */
			//height: @itemHeight;
			opacity: 0;
		}
		.label{
			font-size: 1.2em;
			font-weight: 500;
			margin-bottom: @pd/2;
		}
		&:hover{
			border-color:@blue;
		}
		.roots-block{
			color:@blue;
		}
	}

	.roots-list{
		.root{
			padding: @pd/2;
			&.ng-enter {
				transition: 0.5s ease all;
				/* standard transition code */
				//height: 0px;
				opacity: 0;
			}
			&.ng-enter-stagger {
				/* this will have a 100ms delay between each successive leave animation */
				transition-delay: 0.1s;

				/* As of 1.4.4, this must always be set: it signals ngAnimate
				  to not accidentally inherit a delay property from another CSS class */
				transition-duration: 0s;
			}
			&.ng-enter.ng-enter-active {
				/* standard transition styles */
				//height: @itemHeight;
				opacity: 1;
			}
		}
	}


	.edit-root{
		input{
			transition: all 0.5s ease;
			border:0px;
			border-bottom: 1px solid @gray;
			&:focus{
				border-color: @blue;
			}
		}
		.toptitle{
			font-size: @font-size-h4;
			padding: 0 @pd/2;
			color:@blue;
		}


		.items{
			margin-bottom: @pd/2;
			.item{
				margin-bottom: @pd/2;
				.remove{
					margin-left:10px;
					cursor: pointer;
					color:@red;
					font-size: 1.2em;
				}

				&:hover{
					input{
						border-color: @blue;
					}
				}
			}
		}

		.skewed-btn.warning{
			margin-left: 20px !important;
		}
	}


	md-ink-bar{
		color:@blue !important;
		background: @blue !important;
	}
	.md-tab{
		color: @text-color;
		transition: color 0.2s;
		&.md-active,&.md-focused{
			color: @blue;
		}

	}

}



.admin-menu{
	background-color: white;
	border-bottom: 1px solid @gray-light;
	overflow: hidden;
	padding-right: @pd/2;
	padding-left: @pd/2;
	z-index: @stickyMenuZindex;
	height: @stickyMenuHeight;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	.username{
		font-size: @font-size-h4;
		text-transform: uppercase;
		color:@text-color;

	}
	.profile-link{
		text-decoration: none !important;
	}
}


