@import "../../styles/variables";
@import "../../styles/vendor-prefixes";
@import "../../styles/mixins";


@statCircleSize:120px;


@sliderTopOffset:-120px;  //слайдер залезает на синюю зону на это расстояние
.landing-page{
	overflow-x:hidden;

	.transition(all 0.8s ease-in-out);

	.main-share{
		position: absolute;
		top:10px;
		right: 10px;
		z-index: @baseZ + 2;
		.share{
			text-transform: uppercase;
		}
	}
	//PROBLEM PAGE
	.page-problem{
		min-height: 100vh;
		overflow: hidden;
		position: relative;

		background-image: url("/img/bg_child_1_page.jpg");
		border-bottom: 1px solid black;

		.logo{
			margin-top: @pd;
			img{
				margin: 0 auto;
			}

		}
		padding-bottom: @pd;
		.partner-logo{
			img.smileofachild-img{
				//opacity:0.5;
				@media(max-width: @screen-sm){
					max-width:60px;
				}
			}

			img.healworld-img{
				margin-top: 35px;
				@media(max-width: @screen-sm){
					max-width:110px;
				}
			}

			.separator-v{
				background: fade(white,50%);
				height: 120px;
				margin-right:@pd;
				margin-left:@pd;
				width: 1px;
				@media (max-width: @screen-sm) {
					background: transparent !important;
					margin-right:@pd/2;
					margin-left:@pd/2;
				}
			}
		}
		.logo-section{
			margin-bottom:@pd*4;
			@media (max-width: @screen-sm) {
				margin-bottom:@pd;
			}
			.partner-logo{
				margin-top:@pd;
				.healworld-img{

				}
				.smileofachild-img{
					margin-bottom:@pd;
				}
				.logo-tip{
					font-size: 12px;
					opacity:0.5;
					margin-bottom:@pd;
				}
			}
		}

		.container{
			color:white;
			text-align:center;
		}
		@media (max-width: @screen-sm) {
			.logo{
				width: 280px;
			}
			min-height: 750px;
		}

		@media (max-width: @screen-md) {
			.logo{
				width: 300px;
			}
		}
		@media (min-width: @screen-md) {
			.logo{
				width: 320px;
			}

		}

		@media (min-width: @screen-lg) {

			.logo{
				width: 350px;
			}
		}

		@media (min-width: @screen-xl){
			.logo{
				width: 450px;
			}
			.logo-text{
				bottom: @pd/2 !important;
				right: @pd !important;
				font-size: 1em !important;
			}
		}

		.unicef-logo,.logo{
			margin-top:@pd;
		}

		.unicef-logo{
			img{
				max-width: 200px;
			}
		}

		.logo{
			position: relative;
			transition: all 0.5s ease;
			.logo-text{
				text-align: left;
				color:white;
				width: 50%;

				position: absolute;
				bottom: 10px;
				right: 10px;
				font-size: 0.9em;
				line-height: 1.1em;
				transition: all 0.5s ease;
			}
		}

	}



	//WHAT WE CAN DO PAGE
	.page-whatwecando{
		min-height: 100vh;
		overflow: hidden;
		position: relative;

		background-image: url("/img/bg_child_2_page.jpg");
		.container{
			padding-bottom: @pd*2;
		}
		.md-button{
			padding:@pd/4 @pd;
		}
	}


	.page{
		min-height:100vh;
		overflow: hidden;
		@media(max-width: @screen-sm){
			p{
				margin-top:@pd/4;
				margin-bottom:@pd/2;
			}
		}
		.active-content{
			opacity:0;
		}
	}

	#howitworks{
		padding-bottom: @pd*2;
	}
	.text-heading,.stepno{
		font-size: @font-size-h2;
		font-weight: 500;
		margin-bottom:@pd/2;
		text-transform: uppercase;
		@media(max-width:@screen-sm){
			font-size: @font-size-h3;
		}

		@media(max-width:@screen-xs){
			font-size: @font-size-h4 !important;
		}
	}

	//PAGES WITH MAP
	.map-section{
		color:white;
		background-color: @blue;
		text-align:center;


		.map-wrapper{
			.map-bg{
				width: 800px;
				max-width: 100%;
				min-height: 500px;
				position: relative;


				@transition: all 0.8s ease-in-out;

				.stat-circle{
					width:@statCircleSize;
					height:@statCircleSize;
					position: absolute;

					&.circle-namerica{
						top:25%;
						left:10%;

						.scale(1.2);
					}

					&.circle-europe{
						top:20%;
						left:50%;

						.scale(1.1);
					}
					&.circle-samerica{
						bottom:15%;
						left:25%;
						.scale(1);
					}
					&.circle-asia{
						bottom:45%;
						right:15%;

						.scale(0.9);
					}
					&.circle-australia{
						bottom:20%;
						right:10%;
						.scale(0.8);
					}
					&.circle-africa{
						top:45%;
						left:45%;
						.scale(0.6);
					}





					.users,.words{
						text-transform: uppercase;
						.transition(@transition);
						.count{
							font-size: @font-size-h3;
						}
					}


					.label{
						font-size: @font-base - 3;
					}
				}


				//SMALL SCREEN

				//SMALL SCREEN
				@media (max-width: @screen-xs) {
					min-height: 300px;

					.stat-circle{
						.scale(0.5) !important;
						margin-top: -20px;
						margin-left: -20px;

						&.circle-asia{
							right:1%;
							bottom:40%;
						}
						&.circle-australia{
							bottom: 2%;
							right: -10px;
						}
					}
				}
				@media (max-width: @screen-sm) {
					min-height: 300px;

					.stat-circle{
						.scale(0.5) !important;
						margin-top: -20px;
						margin-left: -20px;

						&.circle-namerica{
							left: 20%;
						}

						&.circle-asia{
							bottom:40%;
						}
						&.circle-australia{
							bottom: 2%;
						}
					}
				}

				@media (min-width: @screen-xl) {
					width: 1100px;
					min-height:700px;
				}

			}


			&.toggled{
				.stat-circle{
					color:@text-color;
				}
			}
		}

		padding:@pd;

		.stat-tab{
			cursor: pointer;
			.digit{
				font-size: @font-size-h1;
				margin-right:@pd/2;

			}
			.black{
				font-size: @font-size-h2;
				text-transform: uppercase;
				white-space: nowrap;
				color:@text-color;
				.transition(all 0.8s ease);
				font-weight:500;
			}
			&:hover{
				.black{
					color:white;
				}
			}
		}

		@media (max-width: @screen-sm) {
			padding:@pd/2;
			.digit {
				font-size: @font-size-h5 !important;
				margin-right: @pd/2;
			}

			.black {
				font-size: @font-size-h6 !important;
				text-transform: uppercase;
				color: @text-color;
			}
		    .stat-text{
		    }
		}

		.separator{
			width: 2px;
			background-color: white;
			height: 70px;
			margin-right:@pd*2;
			margin-left:@pd*2;
		}
	}


	.word-cloud{
		background-color: white;
		text-align: center;
		padding: @pd 0px;
		.container{
			padding-top:@pd*2;
			@media(min-width: @screen-lg){
				min-height: 650px;
			}
		}

		@media (max-width: @screen-sm){
			background-position-y: 35%;
			.container.bg-wordcloud{
				background-image: none !important;
			}

			background-image: url("/img/plashka_big.png");
			background-size: 200%;
			background-repeat: no-repeat;
			background-position: center center;
		}


		@bookHeight:180px;
		.cloud-wrapper{
			overflow:visible;
			min-height: 300px;
			position:relative;
			max-width: 400px;
			margin: 0 auto;
			padding-bottom:@pd*2;

			.cloud{
				margin: 0 auto;
				>span{
					color: @gray-dark !important;
					cursor:pointer;
					.transition(all 0.5s ease-in-out);
					&:hover{
						.scale(1.1);
					}
				}
			}


		}

		.text-heading{
			display:inline-block;
			position:relative;
			.text{
				position: relative;
				z-index: @baseZ + 1;
			}
			.marker{
				z-index: @baseZ ;
				width:0%;
				height:20px;
				position: absolute;
				top:15px;
				right: -5%;
				background-color: @yellow;
			}
		}


		.book-wrapper{
			height:@bookHeight;
		}
		.book-bg{
			//position: absolute;
			color:white;
			width: 250px;
			height:@bookHeight;
			margin:0 auto;
			padding-top: 20px;
			box-sizing: border-box;
			padding: 20px 20px 0px 20px;
			&.ng-enter{
				.animation(fadeIn 0.5s ease-in-out);
			}
			&.ng-leave{
				.animation(fadeOut 0s ease-in-out);
			}

			.word{
				margin-bottom: @pd/2;
				font-size: @font-size-h3;
				font-weight: 500;
			}

			@media(max-width: @screen-xs){
				width: 215px;
				height: 155px;
				font-size: 14px !important;
				.word{
					font-size: @font-size-h5 !important;
				}
			}


		}
	}

	.references{
		background-color: @blue;
		color:white;
	}

	//PAGE PAYOFF
	.page-payoff{
		color:white;
		padding-bottom: @pd*2;
	}
	//COMMON PAGE CLASS
	.info-section{
		min-height: 100vh;
	}


	.image-page{
		color:white;
		text-align:center;
		.title{
			text-transform: uppercase;
			font-size: @font-size-h3;
			font-weight:500;

		}
		p{
			margin-bottom:@pd*2;
			text-align:center;
			@media(max-width:@screen-sm){
				font-size: 14px;
				margin-bottom:@pd;
			}
		}
	}


	.transition(all 0.8s ease);

	opacity: 0;
	&.loaded{
		opacity: 1;
	}



	//BLUE LINE ABOVE SLIDER
	.top-line{
		background-color: @blue;
		padding:@pd*4 0px;

		margin-bottom: @sliderTopOffset;
	}

	//FORMULA
	.formula{
		color:white;
		position: relative;
		top: -40px;

		.digit,.equals{
			font-size: @font-size-huge;
		}

		.digit{
			letter-spacing: -5px;
		}
		.equals{
			margin-left: @pd;
			margin-right: @pd;
		}

		@media (max-width: @screen-md) {
			.digit,.equals{
				font-size: @font-size-large !important;
			}
			.small{
				font-size: @font-size-h4 !important;
				margin-top:0px !important;
			}
			.currency{
				font-size:50px !important;
				margin-top:10px !important;
			}

		}
		@media (max-width: @screen-xs) {
			.small{
				font-size: 18px !important;
				margin-top:0px !important;
			}

			.digit,.equals{
				font-size: 55px !important;
			}
		}
		.currency{
			font-size: @font-size-large;
			margin-top:15px;
		}
		.small{
			font-size: @font-size-h2;
			font-weight: bold;
			margin-top:10px;
		}
	}

	.howitworks-copy{
		display: none;
	}


	@media (max-width: @screen-sm){

		@smallMinHeight:470px;
		.howitworks-copy{
			display: block;
		}

		.formula{
			top:auto;
		}
		.top-line{
			margin-bottom: 0px !important;
			padding-top:@pd*2 !important;
			padding-bottom:@pd*2 !important;
		}
		.slider-wrapper{
			min-height: @smallMinHeight !important;
			.step-description{
				display: none;
			}
		}

	    .step-title{
		    background-image:none !important;
		    .stepcontent{
			    .rotate(0deg) !important;
			    padding-right:@pd/2;
		    }
		    padding: 0px !important;
	    }
	    .step-title-arrow{
		    display:none;
	    }

	    .bg-step{
		    max-width:50%;
		    height: @smallMinHeight - 70;
	    }

	}

	//RESPONSIVE FOR SLIDER
	@media (max-width: @screen-xs){
		@xsMinHeight:400px;
		.slider-wrapper{
			min-height: @xsMinHeight !important;
		}
		.bg-step{
			height:@xsMinHeight - 50;
			margin-right:35px;
		}
	}


	@media (max-width: @screen-lg){
		.step-title{
			background-image:none !important;
			.stepcontent{
				.rotate(0deg) !important;
				padding-right:@pd/2;
			}
			.step-title-arrow{
				top:-40px !important;
			}
			padding: 0px !important;
		}
	}

	//SLIDER
	.slider-wrapper{
		position: relative;
		min-height:550px;
		@media (max-width: @screen-xl){
			min-height:480px !important;
		}

		@media (max-width: @screen-xs){
			min-height:380px !important;
		}

		.step-title-wr{
			@media (max-width: @screen-lg) {
				margin-top: 130px;
			}
			@media (max-width: @screen-sm) {
				margin-top: 0px;
			}
		}
	}

	.paging{
		padding-right:30px;
		.bullet{
			margin-right:@pd/2;
			padding:8px;
		}
	}
	.slider{
		.slide,.slide-image{
			height: 100%;
			width: 100%;
		}
		.slide{
			position: relative;

			@stepImageWidth:400px;
			@stepImageHeight:170px;



			.step-title{
				position:relative;
				overflow: visible;

				box-sizing: border-box;
				min-height: 200px;
				.step-title-arrow{
					position: absolute;
					top:0px;
					right: 0px;
				}

				&.step-1{
					background-image: url("/img/plashka1.png");
					padding: 37px 60px 80px 80px;
					.stepcontent{
						.rotate(-4.8deg);
					}
				}

				&.step-2{
					background-image: url("/img/plashka2.png");
					padding:40px 0px 0px 60px;
					.stepcontent{
						.rotate(-9deg);
					}
				}
				&.step-3{
					background-image: url("/img/plashka3.png");
					padding:70px 60px 80px 60px;
					max-width: 465px;
					.stepcontent{
						.rotate(6deg);
					}
				}
				&.step-4{
					background-image: url("/img/plashka4.png");
					padding:35px 60px 80px 80px;
					max-width:520px;
					.stepcontent{
						.rotate(-5.6deg);
					}

				}
			}
			.container{
				height:100%;
			}

			.step-description{
				margin-left: @pd;
			}
		}
	}




	.partner-logo{
		min-height: 100px;
	}

	.partner-logo{
		position: relative;
		.findout{
			color:fade(@text-color,50%);
			position: absolute;
			font-size:14px;
			top:-5px;
			left:0px;
			opacity: 0;
			.transition(opacity 0.8s ease);
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-weight:500;
		}
		&:hover{
			.findout{
				opacity: 1;
			}
		}
	}


	#payoff-page{
		min-height: auto;
		.fundstext{
			padding-top: @pd*2;
			padding-bottom: @pd*2;
			color: @text-color;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
	.page-payoff{
		min-height:400px;
		background-image: url("/img/bg_new_child.jpg");
		@media(min-width: @screen-xl){
			min-height:500px;
		}
	}
	#partners{
		color:@gray-light;
		background-color: white;
		padding: @pd*2 0;
		.contactus{
			font-size: @font-size-h3;
			font-weight:500;
			text-align: center;
			text-decoration: underline;
			margin-bottom: @pd*2;
			@media (max-width: @screen-sm) {
				font-size: @font-size-h5 !important;
				a{
					text-transform: capitalize;
				}
			}
			a{
				color:@gray;
				text-transform: uppercase;
			}
		}
		.separator{
			margin:0 @pd;
			height: 50px;
			width: 2px;
			background-color: @gray;
			@media (max-width: @screen-md){
				display: none;
			}
		}
		.partners-label{
			color: @gray;
			text-transform: uppercase;
			font-weight:500;
			font-size: @font-size-h4;
			text-align:center;
			@media (max-width: @screen-sm) {
				margin-bottom:@pd;
				font-size: @font-size-h5 !important;
			}
		}

		.partner-logo{
			min-width: 170px;
		}
	}

	.footer{
		background-color: @gray;
		padding:@pd;
		height: 140px;
		box-sizing: content-box;

		.logo-wd{
			width:180px;
			height:120px;
			margin-right:@pd;
		}
	}

	.header-menu{
		background-color: transparent;
		overflow: hidden;
		padding-right: @pd/2;
		padding-left: @pd/2;
		z-index: @stickyMenuZindex;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		.transition(all 0.2s ease);
		.translate(0,-100%);

		&.visible{
			.translate(0,0%);
			opacity: 1;

			height: @stickyMenuHeight;
		}

		@media (max-width: @screen-md) {
			font-size: @font-base;

		}

		.skewed-btn{
			.box-shadow(@box-shadow-item);
		}

	}



	//MENU AND OTHER RESPONSIVE
	@menuWidth:100px;

	@media (max-width: @screen-xs) {
		.logo-text{
			font-size: 0.8em !important;
		}

		.partner-logo{
			.smileofachild-img{
				margin-bottom:0px !important;
			}
		}
	}


	@media (max-width: @screen-sm) {
		.container{
			padding: @pd/2;
		}
		.logo-text{
			bottom: 5px !important;
			right: 5px !important;
			font-size: 0.8em !important;
		}

		.partner-logo{
			padding: @pd/2;
		}
	}

	@media (min-width: @screen-md) {
		.needhelp{
			margin-right: @pd;
		}
		.main-share {
			.share {
				margin-right: @pd/2;
			}
		}
		.logo-text{
			bottom: 5px !important;
			right: 5px !important;
		}
	}


	@media (max-width: @screen-md) {
		.container{
			padding: @pd/2;
		}


		.logo{
			img{
				width: 250px;
			}
		}

		.logo-text{
			bottom: 1px !important;
			right: 5px !important;
			font-size: 0.8em !important;
		}
	}



}

@shareWidth:50px;

.share-wrapper{
	position: fixed;
	right: 0;
	top:40%;

	width: @shareWidth;
	background-color: @blue;
	z-index:@baseZ + 10;
	padding:@pd/2;
	box-sizing: border-box;

	.box-shadow(@box-shadow-item);
	&.ready{
		.translate(0,0);
	}
	.transition(all 0.5s ease-in-out);
	.translate(100%,0);

	@bRadius:7px;
	border-bottom-left-radius: @bRadius;
	border-top-left-radius: @bRadius;

	@media (max-width:@screen-sm){
		width: @shareWidth - 10 !important;
	}

	.share-text{
		font-size: 10px;
		color:white;
		margin-bottom:@pd/2;
		text-align:center;
	}
}

#share-widget{
	text-align:center;
	.ya-share2__item{
		&:not(:last-child){
			margin-bottom: @pd/2;
		}
		margin:0;
		outline:none !important;
	}

	.ya-share2__item_service_facebook .ya-share2__badge,
	.ya-share2__item_service_gplus .ya-share2__badge{
		background-color:transparent;
	}
}
//Flipping cards

.flip-panel {
	.perspective(600px);
	.side{
		background-size: contain;
		background-repeat: no-repeat;
		&.front {
			background-image: url("/img/black_chart.png");

			color:white;
			.transform( rotateX(0) rotateY(0));
			.transform-style(preserve-3d);

			.backface-visibility(hidden);

			.transition(all .4s ease-in-out);

		}

		&.back {
			z-index: 800;

			background-image: url("/img/yellow_chart.png");
			color:@text-color;

			.transform(rotateY(-179deg));
			.transform-style(preserve-3d);
			.backface-visibility(hidden);
			.transition(all .4s ease-in-out);
		}
	}
}

.toggled{
	.flip-panel{
		.front {
			z-index: 900;
			.transform(rotateY(179deg));
		}
		.back {
			z-index: 1000;
			.transform(rotateX(0) rotateY(0));
		}
	}
}


.splash-screen{
	.fullsize();
	.animation(fadeIn 0.5s linear);
	overflow:hidden;

	.splash-wrapper{
		.fullsize();
		right: -300px;
		left: -300px;
		padding-left: 40px;
	}

	md-progress-linear.index-page-load-indicator{
		@barHeight:3px;
		position: absolute;

		z-index: @baseZ + 2;
		background-color: fade(white,80%);
		.md-bar{
			background-color: @blue;
			height:@barHeight;
		}
		.md-container{
			background-color: transparent;
			height:@barHeight;
		}
		.rotate(99deg);
		.transform-origin(center center);

		width:100%;
		height:3px;
	}

}


.video-dialog{
	background-color:white;
	min-width:50%;
	max-height: 90%;
	width: 80%;
	@media(max-width: @screen-sm){
		min-width:240px;
	}
	video.worddebt{
		width: 100%;
		height: auto;
	}
}

