<md-dialog aria-label="worddebt video" class="video-dialog">
	<video id="worddebt-video"
	       class="worddebt"
	       controls
	       preload="auto"

	       autoplay="true"

	       data-setup='{"example_option":true}'>
		<source src="/video/WordDebt-Web-V3.mp4" type="video/mp4" />
	</video>
</md-dialog>

