@import "../../styles/variables";
@import "../../styles/mixins";

.login-with{
	.logo{
		margin-bottom: @pd;
		img{
			max-width: 200px;
		}
	}
}

//Separate page at /auth
.connect-with-page{
	.fullsize();

	.skewed-btn{
		width: 300px;
		.twitter-logo,.facebook-logo{
			float: right;
		}
		clear: both;
	}
	.logo{
		margin-bottom: @pd;
		img{
			max-width: 250px;
		}
	}
}