<md-dialog aria-label="Login with" class="content-padding login-with">
	<div class="fullwidth logo layout-row layout-align-center-center">
		<a href="/"><img class="responsive" src="/img/logo_WD_blue.png"/></a>
	</div>
	<div class="layout-column layout-align-center-end">
		<div class="margin-b fullwidth">
			<a md-ink-ripple="white" class="skewed-btn fullwidth" href="/auth/twitter">
				<span>{{"connectWithTwitter"|translate}}</span>
				<span class="twitter-logo white small"></span>
			</a>
		</div>
		<div class="fullwidth">
			<a md-ink-ripple="white" class="skewed-btn fullwidth" href="/auth/facebook">
				<span>{{"connectWithFacebook"|translate}}</span>
				<span class="facebook-logo"></span>
			</a>
		</div>
	</div>
</md-dialog>