@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/vendor-prefixes";

@mycolor: #00c4c0;
.profile{
	min-height: 100vh;

	.tweet{
		border:1px solid @blue;
		&:not(:last-child){
			margin-bottom: @pd;
		}
		padding: @pd/2;
		.heading{
			font-weight: 500;
			margin-bottom: @pd/2;
		}
	}


	.section-heading{
		font-size: 17px;
		font-weight: 500;
		margin-bottom: @pd/2;
	}

	.donation-size{
		font-weight: 500;
	}

	.tweets-container{
		position: relative;
		padding-right: @pd;
	}
	.list{
		overflow-y: auto;
		padding-left: @pd/2;
		padding-right: @pd/2;
	}

	.loading{
		margin-top: @pd*4;
	}

	.matched-words{

		margin-top: 30px;
		.word{
			background-color:@blue;
			color:white;
			margin-bottom: @pd;
			padding: @pd/2;
			.heading{
				font-size: @font-size-h3;
				color:white;
			}
			.body{

			}
			.totals{
				font-size: @font-size-h3;
				.greekwords{
					font-size: 10px;
				}
			}
		}
	}

	.highlight{
		color:@blue;
		text-decoration: underline;
	}

	a{
		color:@blue;
	}

	a.donate{
		text-decoration: none;
		color: @text-color;
		&:hover{
			i{
				.animation(wobble 2s ease-in-out infinite);
			}
		}
	}


	md-progress-linear.loading-data{
		position: absolute;
		top:0;
		right: 0;
		left:0;
		z-index: @baseZ + 2;
		background-color: fade(@blue,10%);
		.md-bar{
			background-color: @blue;
		}
		.md-container{
			background-color: fade(@blue,10%);
		}
	}



	.stats{
		margin-top: 30px;
		.subsection{
			text-align: center;
			border-bottom: 1px solid fade(@text-color,20%);
			padding-bottom: @pd/2;
			margin-bottom: @pd/2;
		}
		.big{
			font-size: 50px;
			color:@blue;
			.greekwords{
				font-size: @font-size-h5 !important;
			}
		}
		.payoff{
			color:@blue;
			text-align: center;
			font-size: @font-size-h3;
			margin-bottom: @pd/2;
		}

		.pay{
			display: flex;
		}
	}
}


.profile-menu{
	background-color: white;

	overflow: hidden;
	padding-right: @pd/2;
	padding-left: @pd/2;
	padding-top: @pd/2;
	margin-bottom: @pd/2;
	.userinfo{
		margin-bottom: @pd;
		&:hover{
			.logout-link{
				color:fade(@text-color,25%);
			}
		}
	}
	.logo{
		max-width: 200px;
		margin:0 auto;
	}
	.unicef-logo{
		max-width: 120px;
	}
	.avatar{
		width: @avatarSizeBig;
		min-width: @avatarSizeBig;
		height: @avatarSizeBig;
		min-height: @avatarSizeBig;
	}
	.joined{
		color:fade(@text-color,70%);
	}
	.username{
		font-size: @font-size-h4;

	}

	.connect-link{
		color:@text-color;
		cursor: pointer;
		text-decoration: none;
		opacity: 0.8;
		transition: opacity 0.5s ease;

		&:hover{
			opacity: 1;
		}
		> * {
			vertical-align: middle;
		}
	}
	.logout-link{
		color:fade(@text-color,5%);
		transition: all 0.5s ease;
		&:hover{
			color:@text-color;
		}
		&.md-button{
			margin: 0;
			padding: @pd/5;
			font-size: @font-size-smaller;
			line-height: 20px;
			min-height: 20px;
			min-width: 50px;
		}
	}
}

.profile-container{
	min-height: 100vh;
	padding-left: @pd/2;
	padding-right: @pd/2;
}

@media (max-width: @screen-sm) {
	.tweets-container{
		margin-bottom: @pd;
		padding-right: 0px !important;
	}
	.profile-menu{
		.logo{
			img{
				max-width: 150px;
			}
			margin-bottom: @pd/2;
		}
		.unicef-logo{
			max-width: 100px;
			margin-bottom: @pd/2;
		}
	}
}