<div class="profile overflow-hidden">
	<md-progress-linear class="loading-data" ng-if="loading" md-mode="indeterminate"></md-progress-linear>
	<div class="layout-xs-column layout-gt-xs-row layout-align-start-start " ng-if="!loading">

		<!--If nothing found both on twitter and facebook-->
		<div class="flex-gt-xs fullwidth"  ng-if="!tweets.length && !fbposts.length && !loading">
			<div class="section-heading">{{"noPosts"|translate}} <span ng-if="lastDonation">{{"sinceYourLastDonation"|translate}}</span></div>
		</div>
		<!--Twitter-->
		<div class="flex-gt-xs fullwidth flex-order-xs-3" ng-if="tweets.length && !loading">
			<div ng-if="tweets.length" class="section-heading layout-row layout-align-start-center animated fadeInUp">
				<span class="twitter-logo small"></span>
				<span ng-if="lastDonation">{{"myTweetsSinceLastDonation"|translate}}</span>
				<span ng-if="!lastDonation">{{"myLastTweets"|translate}}</span>
			</div>
			<div class="tweets-container animated fadeInUp" ng-if="tweets.length">
				<div class="tweet" ng-repeat="tweet in tweets">
					<div class="heading">
						{{::tweet.created_at|moment:"D MMM, HH:mm"}}
					</div>
					<div class="body">
						{{::tweet.text}}
					</div>
				</div>
			</div>
		</div>
		<!--Facebook-->
		<div class="flex-gt-xs fullwidth flex-order-xs-4" ng-if="fbposts.length && !loading">
			<div ng-if="fbposts.length" class="section-heading layout-row layout-align-start-center animated fadeInUp">
				<span class="facebook-logo small margin-r-xs"></span>
				<span>{{"myLastFBPosts"|translate}}</span>
			</div>
			<div class="tweets-container animated fadeInUp" ng-if="fbposts.length">
				<div class="tweet" ng-repeat="post in fbposts">
					<div class="heading">
						{{::post.created_time|moment:"D MMM, HH:mm"}}
					</div>
					<div class="body">
						{{::post.message}}
					</div>
				</div>
			</div>
		</div>

		<!--Used words stats-->
		<div class="flex-gt-xs fullwidth flex-order-xs-2">
			<div ng-if="(tweets.length || fbposts.length) && usedWordsArray.length" class="animated fadeInUp ">

				<div class="matched-words">
					<div class="word layout-row" ng-repeat="(word,info) in result.matchingWords">
						<div class="flex">
							<div class="heading">
								{{::word}}
							</div>
							<div class="body">
								<p><span class="italic margin-r-sm">{{"etymology"|translate}}:</span>{{::info.etymology}}</p>

								<p><span class="italic margin-r-sm">{{"roots"|translate}}:</span>{{::info.roots.join(", ")}}</p>

								<p><span class="italic margin-r-sm">{{"meaning"|translate}}:</span>{{::info.meaning}}</p>
							</div>
						</div>
						<div class="totals layout-column layout-align-center-center">
							<div class="layout-row margin-b">
								<div class="margin-r-xs">+{{info.count}}</div>
								<div class="greekwords">
									<div>{{"greek"|translate}}</div>
									<div>{{"words"|translate}}</div>
								</div>
							</div>
							<div>+{{wordPrice*info.count|number:1}}€</div>

						</div>
					</div>
				</div>
			</div>
			<div class="section-heading animated fadeInUp" ng-if="!result.total && !analyzing && !loading && tweets.length">{{"greekWordsNotFound"|translate}}</div>
		</div>

		<!--Debt stats-->
		<div class="flex-gt-xs fullwidth  flex-order-xs-1 list stats overflow-hidden animated fadeInUp" >

			<div class="subsection">
				<div>{{"totalWords"|translate}}</div>
				<div class="big layout-row layout-align-center-center">
					<div class="margin-r-xs">{{result.total}}</div>
					<div class="greekwords">
						<div>{{"greek"|translate}}</div>
						<div>{{"words"|translate}}</div>
					</div>
				</div>
			</div>


			<div class="subsection">
				<div>{{"currentDebt"|translate}}</div>
				<div class="big layout-row layout-align-center-center">
					{{wordPrice*result.total|number:1}} €
				</div>
			</div>


			<div class="subsection">
				<div>{{"totalDonated"|translate}}</div>
				<div class="big layout-row layout-align-center-center">
					{{totalDonated|number:2}} €
				</div>
			</div>

			<div class="payoff">
				{{"payoff"|translate}}
			</div>

			<div class="layout-row layout-align-center-center">
				<a md-ink-ripple="white" class="skewed-btn pay layout-row layout-align-start-center" href="/donate?count={{result.total}}">
					<div>{{"payWith"|translate}}</div>
					<div class="paypal-white"></div>
				</a>
			</div>




		</div>
	</div>
</div>